﻿@model Biomedicina_Admin.Models.Cliente

@{
    ViewBag.Title = "MantenerCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de Clientes</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @*The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.*@
    </div>

    <table id="table-clientes" class="table datatable-responsive">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                @*<th>Genero</th>*@
                <th>Estado</th>
                <th class="text-center">Acciones</th>

                @*<th>UserNameUpdate</th>
                    <th>Password</th>
                    <th>PasswordUpdate</th>
                    <th>IsActive</th>
                    <th>Nombre</th>
                    <th>ApPaterno</th>
                    <th>ApMaterno</th>
                    <th>Email</th>*@
            </tr>
        </thead>

    </table>
</div>



