﻿@model Biomedicina_Admin.Models.CategoriaProducto
@{
    ViewBag.Title = "MantenerCatPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Registrar Cateogia producto</h6>
            </div>

            <div class="card-body" id="RegistroCard">
                <form role="form" id="RegistrarCatProForm">
                    <input type="text" id="txtNroCat" name="Id_categoria" value="0" hidden />

                    <div class="form-group">
                        <label>Nombre :</label>
                        @Html.TextBoxFor(a => a.Nombre_categoria, new { placeholder = "Ingrese el Nombre", @class = "form-control", name = "Nombre", id = "txtNombreCat" })
                        @*@Html.ValidationMessageFor(m => m.Nombre, "")*@

                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-light" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnEnviarCatP">Registrar<i class="icon-paperplane ml-2"></i></button>
                    </div>
                </form>

            </div>

        </div>




    </div>
</div>


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de categoria de empresa</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @*The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.*@
    </div>

    <table id="table-catPro" class="table datatable-responsive">
        <thead>
            <tr>
                <th>Id </th>
                <th>Nombre Categoria</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>

            </tr>
        </thead>

    </table>
</div>



