﻿@model Biomedicina_Admin.Models.Producto
@{
    ViewBag.Title = "MantenerProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Basic setup -->
<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title">Registrar Producto</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>

    <form class="wizard-form steps-basic" id="RegistrarProductoForm" enctype="multipart/form-data" data-fouc>


        <input type="text" id="txtIdProducto" name="Id_producto" value="0" hidden />

        <h6>Datos Generales</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre Producto:</label>
                        @Html.TextBoxFor(a => a.Nombre, new { placeholder = "", @class = "form-control", name = "Nombre", id = "txtNombre" })

                        @*<input type="text" name="Nombre" class="form-control" placeholder="">*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Modelo:</label>
                        @Html.TextBoxFor(a => a.Modelo, new { placeholder = "", @class = "form-control", name = "Nombre", id = "txtModelo" })

                        @*<input type="text" name="Modelo" class="form-control" placeholder="">*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Categoria:</label>
                        <select id="ddlCategoriaProducto" class="form-control select" name="Id_categoria" data-fouc>

                            @*@Html.DropDownListFor(a => a.CodTipoServicio, new SelectList (value, "Select a Value"))*@
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Empresa:</label>
                        <select id="ddlEmpresa" class="form-control select" name="Id_empresa" data-fouc>

                            @*@Html.DropDownListFor(a => a.CodTipoServicio, new SelectList (value, "Select a Value"))*@
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Marca:</label>
                        <input type="text" name="Marca" class="form-control" placeholder="" id="txtMarca">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Descripcion:</label>

                        @Html.TextAreaFor(a => a.Descripcion, new { placeholder = "", @class = "form-control", name = "Descripcion", id = "txaDescripcion" })

                        @*<input type="text" name="Modelo" class="form-control" placeholder="">*@
                    </div>
                </div>
            </div>
        </fieldset>

        <h6>Especificacion tecnica</h6>

        <fieldset>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Capacidad:</label>
                        @Html.TextBoxFor(a => a.Capacidad, new { placeholder = "", @class = "form-control", name = "Capacidad", id = "txtCapacidad" })

                        @*<input type="text" name="university" placeholder="" class="form-control">*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Temporizador:</label>
                            @Html.TextBoxFor(a => a.Temporizador, new { placeholder = "", @class = "form-control", name = "Temporizador", id = "txtTemporizador" })

                            @*<input type="text" name="university" placeholder="" class="form-control">*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Temperatura:</label>
                        @Html.TextBoxFor(a => a.Temperatura, new { placeholder = "", @class = "form-control", name = "Temperatura", id = "txtTemperatura" })

                        @*<input type="text" name="degree-level" placeholder="" class="form-control">*@
                    </div>

                    <div class="form-group">
                        <label>Dimension:</label>
                        @Html.TextBoxFor(a => a.Dimension_tanque, new { placeholder = "", @class = "form-control", name = "Dimension_tanque", id = "txtDimension" })

                        @*<input type="text" name="specialization" placeholder="" class="form-control">*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Potencia:</label>
                        @Html.TextBoxFor(a => a.Potencia, new { placeholder = "", @class = "form-control", name = "Potencia", id = "txtPotencia" })

                        @*<input type="text" name="specialization" placeholder="" class="form-control">*@
                    </div>

                    <div class="form-group">
                        <label>Energia:</label>
                        @Html.TextBoxFor(a => a.Energia, new { placeholder = "", @class = "form-control", name = "Energia", id = "txtEnergia" })

                        @*<input type="text" name="education-language" placeholder="" class="form-control">*@
                    </div>
                </div>
            </div>
        </fieldset>

        <h6>Imagenes</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Campo 1:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Capacidad, new { placeholder = "", @class = "form-control", name = "Capacidad", id = "txtCapacidad" })*@

                        @*<input type="text" name="university" placeholder="" class="form-control">*@
                        <label class="col-lg-2 col-form-label font-weight-semibold">Imagenes:</label>
                        <div class="col-lg-10">
                            @*@Html.TextBoxFor(a => a.Ficha_tecnica, new { type="file", @class = "file-input", name = "Ficha_tecnica", id = "txtFichaTecnica" })*@

                            <input type="file" class="file-input" multiple="multiple" name="Imagenes" id="Imagenes" data-fouc>
                            @*<span class="form-text text-muted">Automatically convert a file input to a bootstrap file input widget by setting its class as <code>file-input</code>.</span>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">

                                <div class="card">
                                    <div class="card-img-actions m-1">
                                        <img id="imagen1" class="card-img img-fluid" src="~/Content/global_assets/images/placeholders/placeholder.jpg" alt="">
                                        <div class="card-img-actions-overlay card-img">
                                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                                                <i class="icon-plus3"></i>
                                            </a>

                                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                                <i class="icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-img-actions m-1">
                                        <img id="imagen2" class="card-img img-fluid" src="~/Content/global_assets/images/placeholders/placeholder.jpg" alt="">
                                        <div class="card-img-actions-overlay card-img">
                                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                                                <i class="icon-plus3"></i>
                                            </a>

                                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                                <i class="icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-img-actions m-1">
                                        <img id="imagen3" class="card-img img-fluid" src="~/Content/global_assets/images/placeholders/placeholder.jpg" alt="">
                                        <div class="card-img-actions-overlay card-img">
                                            <a href="~/Content/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                                                <i class="icon-plus3"></i>
                                            </a>

                                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                                <i class="icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </fieldset>

        <h6>Informacion adicional</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Campo 1:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Capacidad, new { placeholder = "", @class = "form-control", name = "Capacidad", id = "txtCapacidad" })*@

                        @*<input type="text" name="university" placeholder="" class="form-control">*@
                        <label class="col-lg-2 col-form-label font-weight-semibold">Ficha tecnica:</label>
                        <div class="col-lg-10">
                            @*@Html.TextBoxFor(a => a.Ficha_tecnica, new { type="file", @class = "file-input", name = "Ficha_tecnica", id = "txtFichaTecnica" })*@

                            <input type="file" class="file-input" name="Ficha_tecnica" id="FichaTecnica" data-fouc>
                            @*<span class="form-text text-muted">Automatically convert a file input to a bootstrap file input widget by setting its class as <code>file-input</code>.</span>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Campo 2:</label>
                            @*@Html.TextBoxFor(a => a.Espec_tecnica.Temporizador, new { placeholder = "", @class = "form-control", name = "Temporizador", id = "txtTemporizador" })*@

                            <input type="text" name="university" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Campo 3:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Temperatura, new { placeholder = "", @class = "form-control", name = "Temperatura", id = "txtTemperatura" })*@

                        <input type="text" name="degree-level" placeholder="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Campo 4:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Dimension_tanque, new { placeholder = "", @class = "form-control", name = "Dimension_tanque", id = "txtDimension" })*@

                        <input type="text" name="specialization" placeholder="" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Campo 5:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Potencia, new { placeholder = "", @class = "form-control", name = "Potencia", id = "txtPotencia" })*@

                        <input type="text" name="specialization" placeholder="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Campo 6:</label>
                        @*@Html.TextBoxFor(a => a.Espec_tecnica.Energia, new { placeholder = "", @class = "form-control", name = "Energia", id = "txtEnergia" })*@

                        <input type="text" name="education-language" placeholder="" class="form-control">
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de productos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @*The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.*@
    </div>

    <table id="table-productos" class="table datatable-responsive">
        <thead>
            <tr>
                <th>Id. Producto</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Categoria</th>
                <th>Modelo</th>
                @*<th>Genero</th>*@
                <th>Estado</th>
                <th class="text-center">Acciones</th>


            </tr>
        </thead>

    </table>
</div>
<!-- /basic setup -->
