﻿@model Biomedicina_Admin.Models.Usuario

@{
    ViewBag.Title = "MantenerUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de usuarios</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @*The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.*@
    </div>

    <table id="table-users" class="table datatable-responsive">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>


            </tr>
        </thead>

    </table>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Registrar Usuario</h6>
            </div>

            <div class="card-body" id="RegistroCard">
                <form role="form" id="RegistrarUsuarioForm">
                    <input type="text" id="txtNroUsuario" name="UserId" value="0" hidden />

                    <div class="form-group">
                        <label>Nombre:</label>
                        @Html.TextBoxFor(a => a.Nombre, new { placeholder = "Nombre", @class = "form-control", name = "Nombre", id = "txtNombre" })
                        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">

                        <label>Apellido Paterno:</label>
                        @Html.TextBoxFor(a => a.ApPaterno, new { placeholder = "Apellido Paterno", @class = "form-control", name = "ApPaterno", id = "txtApPaterno" })
                        @Html.ValidationMessageFor(m => m.ApPaterno, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">
                        <label>Apellido Materno:</label>
                        @Html.TextBoxFor(a => a.ApMaterno, new { placeholder = "Apellido Materno", @class = "form-control", name = "ApMaterno", id = "txtApMaterno" })
                        @Html.ValidationMessageFor(m => m.ApMaterno, "", new { @class = "validation-invalid-label" })

                    </div>
                    @*<div class="form-group">
                        <label class="d-block">Genero:</label>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(a => a.Sexo, "M", new { @class = "form-check-input", id = "rdMasculino" })                                Masculino
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(a => a.Sexo, "F", new { @class = "form-check-input", id = "rdFemenino" })
                                Femenino
                            </label>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label>Email:</label>
                        @Html.TextBoxFor(a => a.Email, new { placeholder = "Email", @class = "form-control", name = "Email", id = "txtEmail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">
                        <label>Usuario:</label>
                        @Html.TextBoxFor(a => a.UserName, new { placeholder = "Usuario", @class = "form-control", name = "UserName", id = "txtUsuario" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "validation-invalid-label" })

                        @*<input type="text" class="form-control" placeholder="Eugene Kopyov">*@
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        @Html.PasswordFor(a => a.Password, new { type = "password", @class = "form-control", placeholder = "Password", name = "Password", id = "txtPassword" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-invalid-label" })

                        @*<input type="password" class="form-control" placeholder="Your strong password">*@
                    </div>
                    <div class="form-group">

                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.CheckBoxFor(a => a.IsActive, new { @class = "form-check-input", id = "chckActivo" })
                                Activo?
                                @*<input type="checkbox" class="form-check-input-styled" checked data-fouc>
                                    Checked styled*@
                            </label>
                        </div>


                    </div>



                    <div class="text-right">
                        <button type="submit" class="btn btn-light" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnEnviar">Registrar <i class="icon-paperplane ml-2"></i></button>
                    </div>



                    @*<div class="d-flex justify-content-start align-items-center">
                            <button type="submit" class="btn btn-light">Cancel</button>
                            <button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                        </div>*@
                </form>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Cambiar constraseña</h6>
            </div>

            <div class="card-body">
                <form id="ActualizarConstraseñaForm">
                    <div class="form-group">
                        <label>Usuario:</label>
                        @*<input type="text" class="form-control" placeholder="">*@
                        @Html.TextBoxFor(a => a.UserNameUpdate, new { placeholder = "Usuario", @class = "form-control", @readonly = "readonly", name = "UserName", id = "txtUsuario2" })
                        @Html.ValidationMessageFor(m => m.UserNameUpdate, "", new { @class = "validation-invalid-label" })
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        @Html.PasswordFor(a => a.PasswordUpdate, new { type = "password", @class = "form-control", placeholder = "Password", name = "Password", id = "txtPassword2" })
                        @Html.ValidationMessageFor(m => m.PasswordUpdate, "", new { @class = "validation-invalid-label" })
                        @*<input type="password" class="form-control" placeholder="Your strong password">*@
                    </div>

                    <div class="d-flex justify-content-start align-items-center">
                        <button type="submit" class="btn btn-light">Cancelar</button>
                        <button type="submit" class="btn bg-blue ml-3" id="btnEnviarContraseña">Actualizar <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>



@*<div class="card" id="tablaUsuarios">

        <div class="card-header header-elements-inline">
            <h5 class="card-title">Lista de usuarios</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.
        </div>

        <div id="tablaUsuarios"></div>


    </div>*@

