﻿@model Biomedicina_Admin.Models.Empresa
@{
    ViewBag.Title = "MantenerEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Registrar Empresa</h6>
            </div>

            <div class="card-body" id="RegistroCard">
                <form role="form" id="RegistrarEmpresaForm">
                    <input type="text" id="txtNroEmpresa" name="id_empresa" value="0" hidden />

                    <div class="form-group">
                        <label>Razón Social:</label>
                        @Html.TextBoxFor(a => a.Razon_social, new { placeholder = "Ingrese el Nombre", @class = "form-control", name = "Nombre", id = "txtNombre" })
                        @Html.ValidationMessageFor(m => m.Razon_social, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">

                        <label>Descripción:</label>
                        @Html.TextBoxFor(a => a.Descripcion, new { placeholder = "Ingrese la descripción", @class = "form-control", name = "DesEmpresa", id = "txtDesEmpresa" })
                        @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">
                        <label>RUC:</label>
                        @Html.TextBoxFor(a => a.RUC, new { placeholder = "RUC", @class = "form-control", name = "RUC", id = "txtRUC" })
                        @Html.ValidationMessageFor(m => m.RUC, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">
                        <label class="d-block">Año de inicio de operaciones:</label>

                        @Html.TextBoxFor(a => a.Inicio_Op, new { placeholder = "Año de inicio", @class = "form-control", name = "Inicio_Op", id = "txtInicio_Op" })
                        @Html.ValidationMessageFor(m => m.Inicio_Op, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="form-group">
                        <label class="d-block">Dirección:</label>
                        @Html.TextBoxFor(a => a.Direccion, new { placeholder = "Dirección", @class = "form-control", name = "Direccion", id = "txtDireccion" })
                        @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "validation-invalid-label" })

                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-light" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnEnviarEmp">Registrar<i class="icon-paperplane ml-2"></i></button>
                    </div>

                </form>
            </div>

        </div>



    </div>
</div>


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de empresas</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                @*<a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @*The <code>Responsive</code> extension for DataTables can be applied to a DataTable in one of two ways; with a specific <code>class name</code> on the table, or using the DataTables initialisation options. This method shows the latter, with the <code>responsive</code> option being set to the boolean value <code>true</code>. The <code>responsive</code> option can be given as a boolean value, or as an object with configuration options.*@
    </div>

    <table id="table-empresas" class="table datatable-responsive">
        <thead>
            <tr>
                <th>Id Empresa</th>
                <th>Razón Social</th>
                <th>RUC</th>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Inicio de Operación</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>

            </tr>
        </thead>

    </table>
</div>



